@charset "UTF-8";

* {
font-family: Arial, Helvetica, sans-serif;
}
body { /*CONFIGURAÇÃO DO CORPO*/
margin: 0px;
padding: 0px;
background-image: linear-gradient(to bottom, #0185e1, white, #0185e1);
}
/*--------------------------------------------------------------------------*/
header { /*CONFIGURAÇÃO DO CABEÇALHO*/
text-align: center;
height: 300px;
background-color: #0185e1;
}
h1 { /*CONFIGURAÇÃO DO PRIMEIRO TÍTULO*/
margin: 0px;
}
img { /*CONFIGURAÇÃO DA IMAGEM*/
width: 100%;
}
#imgtopo { /*CONFIGURAÇÃO DA IMAGEM*/
width: 300px;
height: 200px;
border-radius: 50%;
}
/*--------------------------------------------------------------------------*/
.princ { /*CONFIGURAÇÃO DA DIV PRINCIPAL*/
background-color: #0185e1;
text-align: center;
}
h2 { /*CONFIGURAÇÃO DO SEGUNDO TÍTULO*/
margin: 0px;
padding-top: 10px;
}
#text { /*CONFIGURAÇÃO DO INPUT DE DIGITAR PAÍS*/
margin-top: 15px;
}
#verifi { /*CONFIGURAÇÃO DO INPUT BOTÃO VERIFICAR*/
margin-top: 10px;
margin-bottom: 10px;
width: 100px;
height: 50px;
font-weight: bold;
border-radius: 10px;
border: none;
box-shadow: -1px 5px 15px black ;
}
#verifi:hover { /*CONFIGURAÇÃO DE EFEITO DO BOTÃO VERIFICAR*/
background-color: #0185e1;
}
/*-----------------------------------------------------------------------------*/